.header{
	background-color: #1E1E1E;
	margin: 0 auto;
	font-style: italic;
	position: fixed;
	width: 100%;
	padding-top: .7em;
}
body{
  font-family: 'Tangerine', serif;
  font-size: 100%;
  background-color: #888888;
  font-size: 15px;


}


